body{
    background-color:white;
    color:#9B4922;
    font-family: sans-serif;
    margin:0;
}
header{
    background-color:black;
    padding:2rem;
    display: flex;
    justify-content: flex-end;
        }
header a{
    color:white;
}
header{text-align:center;
align-items:center;
}

.index {
    background-image: url(images/rolemodel.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    height:400;
    height:500;
    text-shadow: 2px 2px 2px 2px;
 }

    h2{
    vertical-align: baseline;
    display: inline-block;
    justify-content:flex-start;
    align-items:flex-start;
    font-size: 80px;
    height:40%;}

h3{
    vertical-align: baseline;
    display:flex;
    flex-direction:row-reverse;
    align-items: flex-end;
    font-size: 80px;
    padding-top: 70%;
    }
h4{
    font-size: 30px;
}
.letstalk{
    background-color: #9B4922;
    background-size: 5rem;
    margin:0;
    font-size: 5rem;
    color:white;
    display: flex;
justify-content:center;
align-items:center;
padding:4rem 4rem 30rem;
}

.letstalk h2{
vertical-align: baseline;
font-size: 80px;
}

header img{
    padding-right:65%;
    padding-left: 0%;
    max-width:10rem;
}
.contactinfo h2{
color:white;
font-size: 40px;
}
.resume{
    background-color: #70A0AF;
    background-size: 5rem;
    padding:4rem 4rem 30rem;
    margin:0;
}
.resumes{
display: flex;
justify-content: center;
padding: 2rem;
size-adjust: 1rem;
}
.stick{
    padding:2rem 3rem;
    height:75vh;
}
<<<<<<< HEAD
.letstalk>section{
    width:35%;
}

.box>img{
width:35%;
padding-top:2rem;
margin-left:15rem;
}

.box{
    background: rgb(207,168,151);
background: linear-gradient(90deg, rgba(207,168,151,1) 0%, rgba(207,168,151,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
padding-top:2rem;
padding-bottom:10rem;
}
.box h2{
    font-size: 50px;
    text-align: right;
    height:40%;
    padding-left: 8rem;
    padding-right:12rem;
}




=======
.jellies {background-color:#CFA897;}
.jellies {padding:1rem;}
.jellies {display: inline-block;}
.jellies {margin:.5rem;}
.jellies {vertical-align: top;}
.jellies {width: 29%}

.jells {
    background-color:black;
    padding:2rem;
    text-align: center;
}

.dw {
    background-color:white;
    color:rgb(255,255,255);
    font-family:'Courier New', Courior, monospace;
    margin:0;
}
.homeslices {
    padding: 1rem;
}
>>>>>>> 83e7c61e0e35123009a902157f22f4f4c9a4be08
