body{
    background-color:white;
    color:#9B4922;
    font-family: sans-serif;
    margin:0;
}
header{
    background-color:black;
    padding:2rem;
    display: flex;
    justify-content: flex-end;
        }
header a{
    color:white;
}
header{text-align:center;
align-items:center;
}

.index {
    background-image: url(images/concert.jpeg);
    background-size: cover;
    padding: 20rem 0 40rem 4rem;
    text-shadow: 2px 2px 2px 2px;}

    h2{
    vertical-align: baseline;
    display: inline-block;
    justify-content:flex-start;
    align-items:flex-start;
    font-size: 80px;
    height:40%;}

h3{
    vertical-align: baseline;
    display:flex;
    flex-direction:row-reverse;
    align-items: flex-end;
    font-size: 80px;
    padding-top: 70%;
    }
.letstalk{
    background-color: #9B4922;
    background-size: 5rem;
    padding:4rem 4rem 30rem;
    margin:0;
    font-size: 5rem;
    color:white;
}
.letstalk h2{
vertical-align: baseline;
display: block;
justify-content:flex-start;
align-items:flex-start;
font-size: 80px;
height:40%;
width: 30%;
}

header img{
    padding-right:80%;
    max-width:10rem;
}
.contactinfo h2{
color:white;
display: block;
justify-content:flex-start;
align-items:flex-start;
font-size: 80px;
height:40%;
width: 30%;
}






